@import "../../app.scss";

.aboutContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ssd {
        display: flex;
        flex-direction: column;
        width: 80%;

        button {
            background: #1C1E23;
            border-width: 0;
            border-radius: 5px;
            color: #ffffff;
            cursor: pointer;
            font-size: 15px;
            height: 50px;
            width: 15.625rem;
            letter-spacing: 5px;
            padding: 0 20px;
            margin-top: 1rem;
        }
    }

    .sectionSubText {
        font-size: 20px;
        color: $color-text-secondary;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0;

        @include mobile {
            font-size: 16px;
        }
    }

    .sectionHeadText {
        font-size: $text-large;
        color: $color-text-secondary;
        font-weight: 900;
        margin: 0;

        @include mobile {
            font-size: 36px;
        }
    }

    .text-p {
        color: $color-text-secondary;
        line-height: 30px;
        font-size: $text-small;
        max-width: 48rem;
        margin-top: 1rem;

        @include mobile {
            font-size: 16px;
        }
    }

    .cardss {
        display: flex;
        margin-top: 1rem;
        gap: 20px;
        width: 100%;
        justify-content: center;
        position: relative;
        z-index: 99;

        @include mobile {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
        }

        @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1000;

        .closeBtn {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0%;
            right: 0%;
            padding: 10px;
            border: none;
            cursor: pointer;
        }

        .modal-content {
            background: #2c2d31;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-align: left;
            overflow-y: auto;
            display: flex;
            position: absolute;
            top: 70px;
            bottom: 70px;
            width: 800px;
            left: 50%;
            border-radius: 10px;
            transform: translateX(-50%);
            background-color: #222;


            @include large {
                width: 700px;
            }

            @include mobile {
                width: 300px;
                display: flex;
                flex-direction: column;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 0 0 8px;
                    width: 100%;
                    float: left;
                    position: relative;
                    padding-left: 20px;
                    width: 100%;
                    float: left;
                    border-bottom: 1px dashed hsla(0, 0%, 100%, .15);
                    color: $color-text-secondary;
                    padding-bottom: 7px;
                    margin: 0 0 7px;

                    svg {
                        color: $color-text-primary;
                    }

                    a {
                        text-decoration: none;
                        padding-left: 25px;
                        color: $color-text-secondary;

                        &:hover {
                            color: $color-text-primary;
                        }
                    }
                }
            }

            .infoContent {
                margin-bottom: 55px;

                p {
                    font-size: $text-small;
                    margin-bottom: 10px;
                    line-height: 1.7;
                    letter-spacing: .2px;
                    color: $color-text-secondary;
                    word-wrap: break-word;
                }
            }

            .author {
                margin-bottom: 35px;
                text-align: center;
                overflow: hidden;

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                    color: $color-text-secondary;

                    span {
                        color: $color-text-primary
                    }
                }

                p {
                    color: $color-text-secondary;
                }

            }

            .list {
                width: 100%;
                float: left;
                margin-bottom: 35px;

                .icon {
                    margin-right: 15px;
                }

                a {
                    .btnCv {
                        background: $color-text-primary;
                        border-width: 0;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 15px;
                        height: 50px;
                        width: 100%;
                        letter-spacing: 5px;
                        padding: 0 20px;
                        margin-top: 1rem;
                    }
                }
            }
        }

        .modal-content::-webkit-scrollbar {
            width: 0px;
        }

        .divImg {
            overflow: hidden;
            border-radius: 4px;
            width: 40%;
            padding: 50px 40px;
            border-right: 1px dashed hsla(0, 0%, 100%, .1);

            @include mobile {
                overflow: visible;
                width: auto;
                border-right: none;
                padding: 0;
                margin-bottom: 40px;
            }

            img {
                width: 130px;
                height: 130px;
                object-fit: cover;
                filter: grayscale(100%);
                border-radius: 50%;
                margin: 0 auto 25px;
            }
        }

        .rightSide {
            width: 60%;
            padding: 50px 40px;

            @include mobile {
                width: 100%;
                padding: 0;
            }

            h1 {
                border-bottom: 1px dashed hsla(0, 0%, 100%, .15);
                color: $color-text-secondary;
                padding-bottom: 15px;
                margin-bottom: 29px;
            }
        }
    }
}

.tiltContainerr {
    width: 20rem;

    @include mobile {
        width: 18rem;
    }

    svg {
        position: relative;
        top: 13%;
        left: 85%;
        width: 25px;
        height: auto;
        color: $color-text-primary;
        cursor: pointer;
    }


    .tiltContent {
        background: $color-bg-neutral;
        padding: 1px;
        border-radius: 5px;

        .description {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            padding-left: 2rem;
            padding-right: 2rem;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-direction: column;
            min-height: 20rem;
            display: flex;
            text-align: center;

            p {
                color: $color-text-secondary;
                text-align: start;
            }

            .img {
                object-fit: contain;
                width: 4rem;
                height: 4rem;
                filter: grayscale(65%);
            }

            .text {
                color: $color-text-secondary;
                font-weight: 900;
                font-size: 22px;
                text-align: center;
            }

            .spanColor {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                span {
                    font-size: 15px;
                    text-align: start;
                }
            }
        }
    }
}