@import "../../app.scss";

.hero {
  height: 100%;

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 10vw;
        letter-spacing: 10px;
        color: $color-text-secondary;
        font-weight: 900;
        font-family: "Cera CY Bold";
        text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        @include mobile {
          font-size: 15vw;
        }
      }

      .subtitle {
        width: 100%;
        text-align: end;

        h2 {
          font-size: 1.5vw;
          color: #7F7F81;
          letter-spacing: 5px;
          font-weight: 100;

          @include mobile {
            font-size: 2.5vw;
          }
        }
      }

    }
  }

  .slidingTextContainer {
    position: fixed;
    font-size: 30vh;
    bottom: -120px;
    white-space: nowrap;
    color: rgb(255 255 255 / 4%);
    width: 50%;
    font-family: "Cera CY Bold";

    @include mobile {
      font-size: 20vh;
      bottom: -60px;
    }

    @include sm {
      
    }
  }
}