@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h2{
      font-size: $text-small;
    }

    p{
      line-height: 30px;
      font-size: $text-small;
    }

    h1 {
      font-size: $text-large;
      color: #fff;
      font-family: "Cera CY Bold";

      @include mobile {
        font-size: 36px;
      }
    }
  }

  .formContainer {
    flex: 1;
    display: flex;
    background: radial-gradient(circle farthest-corner at left center, #23252A 50%, #070709 150%);
    box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 55px;
    text-align: center;
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;

    @include mobile {
      padding: 50px;
      width: 100%;
    }

    h2{
      font-size: $text-large;
      color: #fff;
      font-family: "Cera CY Bold";
    }


    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: 99;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      z-index: 999;

      input,
      textarea {
        width: 100%;
        height: 50px;
        margin-top: 5px;
        padding-bottom: 25px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #55575B;
        background: none;


        @include mobile {
          padding: 10px;
        }
      }

      button {
        background: #1C1E23;
        border-width: 0;
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.35);
        color: #ffffff;
        cursor: pointer;
        font-size: 18px;
        height: 52px;
        letter-spacing: 5px;
        padding: 0 50px;
        margin-top: 20px;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}

