@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;

  @include mobile {
    width: 100%;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
    }

    .item {

      h2 {
        font-size: $text-small;
      }

      a{
        text-decoration: none;
        color: $color-text-secondary;
        font-size: $text-small;

        &:hover{
          color: $color-text-primary;
        }
      }

    }

    p {
      line-height: 30px;
      font-size: $text-small;
    }

    h1 {
      font-size: $text-large;
      color: #fff;
      font-family: "Cera CY Bold";

      @include mobile {
        font-size: 36px;
      }
    }
  }

  .formContainer {
    flex: 1;
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;
    height: 70%;

    h2 {
      font-size: $text-large;
      color: #fff;
      font-family: "Cera CY Bold";
    }

    .phoneSvg {
      stroke: $color-text-primary;
      position: absolute;
      left: 15%;
      margin: auto;
      z-index: -1;

      @include mobile {
        width: 300px;
      }

      svg {
        width: 100%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      background: radial-gradient(circle farthest-corner at left center, #23252A 50%, #070709 150%);
      box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      height: 100%;
      padding: 55px;

      input,
      textarea {
        width: 100%;
        height: 50px;
        font-size: 16px;
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: inset 0 -2px 0 0 #55575B;
        color: $color-text-secondary;
        transition: box-shadow 0.3s;

        &::placeholder {
          color: $color-text-secondary;
          transition: color 0.3s;
        }

        &:focus {
          outline: none;
          box-shadow: inset 0 -2px 0 0 $color-text-primary;
          color: $color-text-primary;
        }

        &:-webkit-autofill {
          box-shadow: inset 0 -2px 0 0 #55575B;
        }

        @include mobile {
          padding: 10px;
        }
      }

      button {
        background: #1C1E23;
        border-width: 0;
        box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.35);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        cursor: pointer;
        font-size: 18px;
        height: 52px;
        letter-spacing: 5px;
        padding: 0 50px;
        margin-top: 20px;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}