@import "../../app.scss";

.navbar {
  height: 10vh;
  width: 100%;

  &.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; // Certifique-se de que o navbar fixo esteja acima de outros elementos
  }

  @include sm {
    display: none;
  }

  .wrapper {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .nav {
      display: table-cell;
      vertical-align: middle;
    }

    .nav a {
      //padding: .5em .8em;
      position: relative;
      text-decoration: none;
      font-size: 20px;
      color: #7F7F81;
      letter-spacing: 5px;
      z-index: 9;

    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 0 24px;
    }

    span {
      position: relative;
      display: block;
      //cursor: pointer;
    }

    span:before,
    span:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      top: 50%;
      margin-top: -0.5px;
      background: #fff;
    }

    span:before {
      left: -2.5px;
    }

    span:after {
      right: 2.5px;
      background: #fff;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
      background: #fff;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }

    @include sm {
      justify-content: flex-end;
      padding: 20px;

      .nav {
        display: none;
      }

      .sidebar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
      }

      span {
        display: none;
      }
    }

    .home {
      text-decoration: none;

      span {
        font-weight: bold;
        font-size: 35px;
        color: $color-text-primary;

        @include sm {
          display: none;
        }
      }
    }

  }
}