@font-face {
  font-family: kamerik-3d;
  src: url(/fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

/* html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: kamerik-3d;
  background: #070709;
  /* color: #0c0c1d; */
}

section {
  height: 100vh;
}

@mixin hover {
  &:hover {
    @content; 
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}