@mixin hover {
  &:hover {
    @content;
  }
}

@mixin sm {
  @media (max-width: 568px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}


@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media (max-width: 1400px) {
    @content;
  }
}

@font-face {
  font-family: 'Cera CY Bold';
  src: url('./fonts/Cera CY Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cera CY Regular';
  src: url('./fonts/Cera CY Regular.woff2') format('woff2');
}

$color-bg-primary: #070709;
$color-bg-secondary: #23252A;
$color-bg-neutral: #2c2d31;

$color-text-primary: #ffc93c;
$color-text-secondary: #DDDDDD;

$text-large: 40px;
$text-small: 16px;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cera CY Regular';
}

body {
  background: radial-gradient(circle farthest-corner at center center, #23252A 60%, #070709 100%);
}

section {
  height: 90vh;
  scroll-snap-align: center;
  padding: 30px;

  @include sm {
    padding: 100px 30px;
  }

}