@mixin hover {
  &:hover {
    @content;
  }
}

@mixin sm {
  @media (max-width: 568px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}


@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin fix {
  @media (max-width: 1610px) {
    @content;
  }
}

@font-face {
  font-family: 'Cera CY Bold';
  src: url('./fonts/Cera CY Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cera CY Regular';
  src: url('./fonts/Cera CY Regular.woff2') format('woff2');
}

$color-bg-primary: #070709;
$color-bg-secondary: #23252A;
$color-bg-neutral: #2c2d31;

$color-text-primary: #ffc93c;
$color-text-secondary: #DDDDDD;

$text-large: 40px;
$text-small: 16px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cera CY Regular';
}

body {
  background: radial-gradient(circle farthest-corner at center center, #23252A 60%, #070709 100%);
}

.sectionWrapper {
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}


section {
  height: 90vh;
  padding: 30px;

  @include mobile {
    padding: 50px 15px 50px 15px;
  }
}

.aboutSection {
  width: 100%;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  @include sm {
    scroll-snap-type: none;
  }
}

.secProject {
  scroll-snap-align: end;
  padding: 0;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #070709 #DDDDDD;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #23252A;
  border: 4px solid #23252A;
}

*::-webkit-scrollbar-thumb {
  background-color: #070709;
  border: 4px solid #070709;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #070709;
}